#chat-window {
    height: calc(100vh - 50px);
}

#chat-window-messages {
    height: 10vh;
    overflow: auto;
    position: fixed;
    max-width: 67%;
    display: flex;
    z-index: 99;
    top: 90%;
    background-color: #fff;
}


.right_message {
    position: relative;
    display: inline-block;
    clear: both;
    padding: 7px 7px 10px 7px;
    vertical-align: top;
    border-radius: 5px;
    max-width: 75%;
    font-size: 14px;
    margin-left: auto;
    background-color: #4793dec4;
    color: #fff;
}

.left_message {
    position: relative;
    display: inline-block;
    clear: both;
    padding: 7px 7px 10px 7px;
    vertical-align: top;
    border-radius: 5px;
    max-width: 75%;
    font-size: 14px;
    background-color: #4793dec4;
    color: #fff;
}

.message_wraper {
    padding-bottom: 120px;
    padding-top: 60px;
}
.top_bar {
    width: 67%;
    position: fixed;
    background-color: #fff;
    opacity: 1;
    z-index: 99;
    margin-top: -8px;
}


